/* Media Queries */

/* Standard desktop  */

/* Smartphones */
@media (max-width: 375px) {
  :root {
    font-size: 7px;
    --content-padding: 1rem;
  }
  .container {
    width: 100%;
    min-width: 32rem;
  }

  .header__theme {
    color: var(--white);
    justify-content: flex-end;
    padding-left: 18rem;
  }

  .keyboard {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(30px, 50%));
  }
}
